<%= form_for(@review_account_event) do |f| %>
  <% if @review_account_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review_account_event.errors.count, "error") %> prohibited this review_account_event from being saved:</h2>

      <ul>
      <% @review_account_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :num_followers_start_review %><br>
    <%= f.number_field :num_followers_start_review %>
  </div>
  <div class="field">
    <%= f.label :num_followers_end_review %><br>
    <%= f.number_field :num_followers_end_review %>
  </div>
  <div class="field">
    <%= f.label :review_event_id %><br>
    <%= f.number_field :review_event_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
