<p id="notice"><%= notice %></p>

<p>
  <strong>National:</strong>
  <%= @address.national %>
</p>

<p>
  <strong>Headquarters:</strong>
  <%= @address.headquarters %>
</p>

<p>
  <strong>Address all in:</strong>
  <%= @address.address_all_in %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @address.organization_id %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
