<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key_tw_id %><br>
    <%= f.number_field :key_tw_id %>
  </div>
  <div class="field">
    <%= f.label :num_favorite %><br>
    <%= f.number_field :num_favorite %>
  </div>
  <div class="field">
    <%= f.label :num_retweet %><br>
    <%= f.number_field :num_retweet %>
  </div>
  <div class="field">
    <%= f.label :num_reply %><br>
    <%= f.number_field :num_reply %>
  </div>
  <div class="field">
    <%= f.label :content_tweet %><br>
    <%= f.text_field :content_tweet %>
  </div>
  <div class="field">
    <%= f.label :account_id %><br>
    <%= f.number_field :account_id %>
  </div>
  <div class="field">
    <%= f.label :data_tweet_review_id %><br>
    <%= f.number_field :data_tweet_review_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
