<h1>Listing tweets</h1>

<table>
  <thead>
    <tr>
      <th>Key tw</th>
      <th>Num favorite</th>
      <th>Num retweet</th>
      <th>Num reply</th>
      <th>Content tweet</th>
      <th>Account</th>
      <th>Data tweet review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.key_tw_id %></td>
        <td><%= tweet.num_favorite %></td>
        <td><%= tweet.num_retweet %></td>
        <td><%= tweet.num_reply %></td>
        <td><%= tweet.content_tweet %></td>
        <td><%= tweet.account_id %></td>
        <td><%= tweet.data_tweet_review_id %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_tweet_path %>
