<h1>Listing key_words_events</h1>

<table>
  <thead>
    <tr>
      <th>Palabra</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @key_words_events.each do |key_words_event| %>
      <tr>
        <td><%= key_words_event.palabra %></td>
        <td><%= key_words_event.event_id %></td>
        <td><%= link_to 'Show', key_words_event %></td>
        <td><%= link_to 'Edit', edit_key_words_event_path(key_words_event) %></td>
        <td><%= link_to 'Destroy', key_words_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Key words event', new_key_words_event_path %>
