<br>
<br>

<p id="notice"><%= notice %></p>
<br>
<br>


<p style=" align:"center" ">
  <strong>Nombre Evento:</strong>
  <%= @event.name_event %>
</p>
<p>
  <strong>Tipo de event:</strong>
  <%= @event.type_of_event %>
</p>
<p>
  <strong>Descripción:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Lugar del evento:</strong>
  <%= @event.event_location %>
</p>

<p>
  <strong>Pecios Aprox:</strong>
  <%= @event.event_price_all_in %>
</p>

<p>
  <strong>Numero de asistentes:</strong>
  <%= @event.num_turnout %>
</p>

<p>
  <strong>Comuna evento:</strong>
  <%= @event.comuna_event %>
</p>

<p>
  <strong>Fecha inicio evento:</strong>
  <%= @event.start_date_event %>
</p>

<p>
  <strong>Fecha fin evento:</strong>
  <%= @event.ending_date_event %>
</p>

<p>
  <strong>Review event:</strong>
  <%= @event.review_event_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
