<h1>Listing data_evaluation_real_times</h1>

<table>
  <thead>
    <tr>
      <th>Evaluation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_evaluation_real_times.each do |data_evaluation_real_time| %>
      <tr>
        <td><%= data_evaluation_real_time.evaluation_id %></td>
        <td><%= link_to 'Show', data_evaluation_real_time %></td>
        <td><%= link_to 'Edit', edit_data_evaluation_real_time_path(data_evaluation_real_time) %></td>
        <td><%= link_to 'Destroy', data_evaluation_real_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data evaluation real time', new_data_evaluation_real_time_path %>
